#heroimage {
    height:200px;
    text-align: center;

}
#product1 {
    height:100px;
}
#product2 {
    height:100px;
}
#service1 {
    height:150px;
}
#service2 {
    height:150px;
}
#service3 {
    height:150px;
}
#service4 {
    height:150px;
}
#service5 {
    height:150px;
}
#service6 {
    height:150px;
}
#footer {
    height:100px;
}
